* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: none;
}

ul,
ol {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: rgb(40, 40, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.8px;
}

header {
    padding: 50px;
    text-align: center;
    background: linear-gradient(-170deg, #bebebe, #868686, #ffffff, #868686);
    color: rgb(40, 40, 40);
    font-size: 22px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeria-fotos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px;
}
#galeria-fotos h3 {
    /* position: absolute; */
    margin: 20px;
    font-size: 26px;
}
.images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-shadow: 5px 5px 10px 2px rgb(36, 36, 36);
    border: 20px groove rgb(183, 183, 183);
    border-radius: 10px;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
#image-1,
#image-2,
#image-3,
#image-4,
#image-5 {
    width: 650px;
}
#image-4 {
    top: -50px;
}
#image-5 {
    top: -60px;
    left: -55px;
}
#image-6 {
    top: -120px;
    left: -250px;
    width: 970px;
}
#adelante {
    position: absolute;
    top: 250px;
    right: -70px;
    width: 80px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.8px;
    filter: brightness(0) ;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#adelante:hover {
    transform: scale(1.05);
}
#atras {
    position: absolute;
    top: 250px;
    left: -65px;
    width: 80px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#atras:hover {
    transform: scale(1.05);
}
img {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 300px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #868686, #ffffff);
    color: rgb(40, 40, 40);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}